@use '../base' as *;
@use '../variables' as *;

.kpi-chart-card {
  border-radius: $border-radius !important;
  border: 1px solid $secondary-color !important;
  box-shadow: none !important;
}

.kpi-chart-card:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1) !important;
}

.kpi-chart {
  min-width: 500px;
  min-height: 300px;
}
