@use '../base' as *;
@use '../variables' as *;
@use 'sass:color';

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $background-color;
  color: $primary-color;
  text-align: center;

  .logo {
    margin: $chip-margin;
    width: 300px;
    height: 300px;
    border-radius: $border-radius;
    margin: 3rem;
  }

  p {
    font-size: $font-size-large;
    margin-bottom: 1rem;
  }

  .btn {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.75rem;
    font-size: 1.25rem;
    color: $background-color;
    background-color: $secondary-color;
    border-radius: $border-radius;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: color.adjust($secondary-color, $lightness: -10%);
    }
  }
}

@keyframes subtle-move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Style pour le texte "superhéros" */
.superhero {
  font-size: 2rem !important;
  font-weight: bold;
  color: #2d3282;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  animation: subtle-move 3s infinite ease-in-out;
}

/* Style pour le mot "BOOM" */
.boom {
  color: #ff4500;
  font-size: 2.2rem;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  font-style: italic;
}
