@use '../base' as *;
@use '../variables' as *;
@use 'sass:color';

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $background-color;
  color: $primary-color;
  text-align: center;

  .logo {
    margin: $chip-margin;
    width: 300px;
    height: 300px;
    border-radius: $border-radius;
    margin: 3rem;
  }

  p {
    font-size: $font-size-large;
    margin-bottom: 1rem;
  }

  .btn {
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: $background-color;
    background-color: $secondary-color;
    border-radius: $border-radius;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: color.adjust($secondary-color, $lightness: -10%);
    }
  }
}
